.visit-form{
    width: 250px;
    margin:30px auto;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.visit-form input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border:3px solid gray;
    border-radius: 5px;
    width:200px;
}
.error{
    color:red;
}