body, html {
    height: 100%;
    background-image: url('../images/Bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
 .my-card{
   height:315px;
   padding: 20px;
 }
 .my-card img{
   height: 150px;
 }
 .card-body h5{
   margin-top:20px;
 }

 @media (max-width: 767px) {
  body, html{
    background-image: none;
    background-color:skyblue;
  }

 }