.navbar-light .navbar-brand.logo{
    font-style: italic;
    color:#FF6E40;
    font-weight: 700;
}

.login-btn{
    background-color: #FF6E40!important;
    color: #fff!important;
    margin-top: -8px;
    padding-top: 6px;
}
.logout-btn {
    background-color: #FF6E40!important;
    color: #fff!important;
    float: right;
    margin-right: 100px;
}
.user-name{
    color: rgb(255, 255, 255);
    padding-top: 9px;
    display: inline-block;
    margin-left: 10px;
}
